* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

section {
    display: flex;
    height: 900px;
}
button{
    margin: 10px 0px;
}

.form-parent {
    background-color: white;
    width: 375px;
    height: 720px;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: gainsboro 0px 0px 9px 0px;
    border-radius: 12px;
}